{
    "username": "",
    "passwd": "",
    "SCKEY": "",
    "name": "",
    "address": "火星",
    "latitude": "32.2829260000",
    "longitude": "43.9237990000",
    "picname": "a.png",
    "speed": 10
}